<%- include ('partials/header.ejs')%>
<body>

    <%- include ('partials/navbar.ejs') %>
<div class="container">
    <div class="row"></div>
    <h2>Please check your email to validate your account.</h2>


    <form >
        <input type="button" onclick="location.href='/'" value="Back" id="back" 
                class="btn btn-dark justify-content-end">
        </div>
    </form>
</div>
</div>

    
</body>
<%- include ('partials/footer.ejs') %>